body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background: rgb(136, 141, 153);
  clear: both;
  height: 96px;
}

.header-inner {
  text-align: left;
  margin-left:5px;
}
  
#logo {
    float:left;
    align-items: center;
    margin:32px;
}

.textlogo{
  align-items:center;
  color: white;
  font-size: 35px;
  padding-top:28px;
}
